<h3>climatrends</h3>
<p>The library can and the following examples can be found <a href="https://github.com/agrobioinfoservices/climatrends">here</a></p>

In [8]:
library("devtools")
library("climatrends")

Warning message in install.packages("rgeos", type = "source"):
“installation of package ‘rgeos’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

ERROR: Error in library("rgeos"): there is no package called ‘rgeos’

In [5]:
set.seed(6)
lonlat <- data.frame(lon = runif(5, 8.3, 12),
                     lat = runif(5, 60, 62.3))

date <- as.Date("2015-05-01", format = "%Y-%m-%d")

temp <- temperature(lonlat, day.one = date, span = 50)

head(temp)

  maxDT minDT maxNT minNT  DTR    SU TR CFD
1 12.81 -0.58 3.61  -10.84 7.3642 0  0  13
2 13.39  0.66 3.84   -7.60 7.0218 0  0  12
3 10.68 -1.48 2.43  -11.29 7.1188 0  0  40
4 14.08  1.53 3.94   -6.85 8.4370 0  0  12
5 19.64  5.82 8.24   -2.40 8.2278 0  0   1